.circle {
	border: .2em solid #000;
	border-radius: 50%;
	width: 40em;
	height: 35em;
	text-align: center;
	vertical-align: center;
	position: absolute;

	& p {
		height: 5em;
		width: 35em;
		display: table-cell;
		vertical-align: middle;
		font-weight: bold;
	}
}